:host {
  &>button {
    padding: .7em;
    border-radius: .5em;
    background-color: var(--primary);
    border: none;
    color: var(--light);
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 1.1em;

    &:hover {
      background-color: var(--primary-active);
    }
  }
}
