.page {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardGrid {
    max-width: 83vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cardGrid > * {
    width: 40vw;
}

app-menu-button {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

li {
    text-decoration: none;
    border: 1px solid black;
    margin: .5em 3em;
    padding: 5px;
    display: grid;
    place-items: center;
}