.page {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardGrid {
    max-width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.cardGrid > * {
    width: 100%;
}

app-menu-button {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

li {
    text-decoration: none;
    border: 1px solid black;
    margin: .5em 3em;
    padding: 5px;
    display: grid;
    place-items: center;
}