<div class="page counter">

    <div class="playerGrid p{{ playersService.numberOfPlayers }}">

        <div *ngFor="let player of playersService.players; let index = index" class="player player{{ index }}">

            <div [appInvertAspectRatio]="feedtape[playersService.numberOfPlayers - 1][index]" [ngStyle]="{transform: 'rotate(' + feedtape[playersService.numberOfPlayers - 1][index] + ')'}">
                <app-player [player]="player" [id]="index + 1"></app-player>
            </div>

        </div>

    </div>

</div>
<app-menu-button class="menuBtn"></app-menu-button>