.playerArea {
    height: 100%;
}

.playerLife {
    position: relative;
    height: 100%;
}

.playerLife > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.lifeDisplay {
    justify-content: center;
    align-items: center;
}

.lifeInteraction > div {
    width: 100%;
    display: grid;
    place-content: center;
}

.life {
    font-size: 4em;
}