.playerArea {
  height: 100%;
  background-color: var(--dark);
  color: var(--light);
  font-size: 4em;
}

.playerLife {
  position: relative;
  height: 100%;
}

.playerLife>div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.lifeDisplay {
  justify-content: center;
  align-items: center;
}

.lifeInteraction>div {
  width: 100%;
  display: grid;
  place-content: center;
}

.icon {
  height: .5em;
  width: .5em;
  filter: invert(100%);
}
