<div class="page">
    <!-- <h1 style="color: white;">ICON</h1> -->
    <img src="../../../assets/icons/icon-512x512.png" class="icon" alt="icon">
    <div class="actions">
        <!-- player max life select -->
        <c-button-select [(value)]="playersService.maxPlayerLife" [options]="playerMaxLifeOptions"></c-button-select>
        <!-- player quantity select -->
        <c-button-select [(value)]="playersService.numberOfPlayers" [options]="playerNumberOptions"></c-button-select>
        <c-button (click)="startGame()" class="w-full">Start Game</c-button>
        <c-button (click)="continueGame()" class="w-full">Continue Game</c-button>
    </div>
</div>
<app-menu-button></app-menu-button>
