<div class="page">
    <h1 style="color: white;">ICON</h1>
    <div class="form">
        <!-- player max life select -->
        <p-selectButton [options]="playerMaxLifeOptions" [(ngModel)]="playersService.maxPlayerLife" optionLabel="icon">
            <ng-template let-item>
                <p>{{ item }}</p>
            </ng-template>
        </p-selectButton>
        <!-- player quantity select -->
        <p-selectButton [options]="playerNumberOptions" [(ngModel)]="playersService.numberOfPlayers" optionLabel="icon">
            <ng-template let-item>
                <p>{{ item }}</p>
            </ng-template>
        </p-selectButton>
        <p-button label="Start Game" (click)="startGame()" styleClass="w-full"></p-button>
        <p-button label="Continue Game" (click)="continueGame()" styleClass="w-full"></p-button>
    </div>
</div>
<app-menu-button></app-menu-button>