.menuBtn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* PLAYER GRID */

.playerGrid {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
}

.playerGrid.p1 {
    grid-template-areas:
        "p0";
}

.playerGrid.p2 {
    grid-template-areas:
        "p0"
        "p1";
}

.playerGrid.p3 {
    grid-template-areas:
        "p0 p1"
        "p2 p2";
}

.playerGrid.p4 {
    grid-template-areas:
        "p0 p1"
        "p2 p3";
}

.playerGrid.p5 {
    grid-template-areas:
        "p0 p1"
        "p2 p3"
        "p4 p4";
}

.playerGrid.p6 {
    grid-template-areas:
        "p0 p1"
        "p2 p3"
        "p4 p5";
}

.player0 {
    grid-area: p0;
}

.player1 {
    grid-area: p1;
}

.player2 {
    grid-area: p2;
}

.player3 {
    grid-area: p3;
}

.player4 {
    grid-area: p4;
}

.player5 {
    grid-area: p5;
}

/* PLAYER */

.player {
    position: relative;
}

.player > div {
    /* height: 100%; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}