:root {
  --primary: var(--pink);
  --primary-active: var(--pink-active);
  --secondary: var(--green);
  --secondary-active: var(--green-active);
  --success: #28a746;
  --success-active: #75b798;
  --danger: #dc3545;
  --danger-active: #ea868f;
  --warning: #ffc107;
  --warning-active: #ffda6a;
  --info: #17a2b8;
  --info-active: #6edff6;

  --pink: #ff6188;
  --pink-active: #ffa7bd;
  --green: #a9dc76;
  --green-active: #8bb066;
  --yellow: #fff48a;
  --yellow-active: #e8d397;
  --purple: #ab9df2;
  --purple-active: #c0b7ec;
  --orange: #fc9867;
  --orange-active: #d97645;
  --gold: #796119;
  --gold-active: #c09c31;
  --light: #fcfcfa;
  --light-active: #d1d1d1;
  --dark: #1e1e1e;
  --dark-active: #595959;
}
